.main-btn {
  background-color: var(--white);
  color: #000;
  font-family: 'Bellefair';
  font-size: var(--hd-fs-sm);
  font-weight: 400;
  border-radius: 50%;
  text-transform: uppercase;
  padding: 110px 60px;
  display: block;
  position: relative;
  cursor: pointer;
}
.main-btn:hover::after {
  content: '';
  display: block;
  height: 25rem;
  width: 45rem;
  position: absolute;
  left: -50%;
  top: -50%;
  transform: translate(8%, 8%);
  background: var(--white);
  opacity: 0.1;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

@media only screen and (max-width: 1200px) {
  .main-btn {
    padding: 95px 50px;
  }
  .main-btn:hover::after {
    transform: translate(18%, 17%);
    height: 35rem;
    width: 35rem;
  }
}
@media only screen and (max-width: 1024px) {
  .main-btn {
    padding: 90px 50px;
  }
  .main-btn:hover::after {
    transform: translate(13%, 10%);
    height: 40rem;
    width: 40rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-btn {
    padding: 105px 54px;
    margin-bottom: 1rem;
  }
  .main-btn:hover::after {
    transform: translate(20%, 19%);
    height: 35rem;
    width: 35rem;
  }
}
