.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}
.blur {
  width: 61.11%;
  height: 9.6rem;
  position: absolute;
  top: 6.2rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  -webkit-backdrop-filter: blur(40.7742px);
}
@media only screen and (max-width: 1200px) {
  .blur {
    width: 64.11%;
  }
}
@media only screen and (max-width: 1024px) {
  .blur {
    width: 80.11%;
  }
}
@media only screen and (max-width: 768px) {
  .main {
    min-height: 100%;
  }
  .blur {
    max-width: 45rem;
    top: 0;
  }
}
