.sections-container {
  display: flex;
  justify-content: space-between;
}
.sections-container--left {
  margin-left: 16.5rem;
  margin-top: 7.6rem;
}
.sections-heading {
  font-size: var(--sb-fs-bg);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-weight: 400;
  margin-bottom: 9.7rem;
  color: var(--white);
}
.sections-heading > span {
  color: var(--white-darker);
  font-weight: 700;
  margin-right: 2.8rem;
}
.crew-details {
  margin-top: 15.4rem;
  max-width: 70rem;
  margin-bottom: 22.9rem;
}
.crew-details__sub-heading {
  font-family: var(--heading-font);
  font-size: var(--hd-fs-sm);
  font-weight: 400;
  line-height: 3.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.crew-details__heading {
  font-family: var(--heading-font);
  font-size: var(--hd-fs-md);
  font-weight: 400;
  line-height: 6.4rem;
  margin-top: 1.5rem;
  color: var(--white);
}
.crew-details__details {
  font-size: var(--text-fs);
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 2.7rem;
  max-width: 60%;
  min-height: 13rem;
}
.crew-navigation {
  margin-top: 8.8rem;
}
.sections-container--right {
  max-width: 40.5rem;
  margin-right: 16.5rem;
  margin-top: 17.4rem;
}
