.crew-container {
  display: flex;
}
.crew-container--left {
  margin-left: 16.5rem;
  margin-top: 7.6rem;
  height: 100%;
}
.crew-heading {
  font-size: var(--sb-fs-bg);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-weight: 400;
  margin-bottom: 9.7rem;
  color: var(--white);
}
.crew-heading > span {
  color: var(--white-darker);
  font-weight: 700;
  margin-right: 2.8rem;
}
.crew-details {
  max-width: 65rem;
  margin-bottom: 9.4rem;
}
.crew-details__sub-heading {
  font-family: var(--heading-font);
  font-size: var(--hd-fs-sm);
  font-weight: 400;
  line-height: 3.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.crew-details__heading {
  font-family: var(--heading-font);
  font-size: var(--hd-fs-md);
  font-weight: 400;
  line-height: 6.4rem;
  margin-top: 1.5rem;
  color: var(--white);
}
.crew-details__details {
  font-size: var(--text-fs);
  font-weight: 400;
  line-height: 3.2rem;
  margin-top: 2.7rem;
  max-width: 70%;
  height: 16rem;
}
.crew-navigation {
  margin-top: 8rem;
}
.crew-container--right {
  display: flex;
  align-items: flex-end;
}
.crew-container--right img {
  height: 90%;
}

/* ******************************************************* */

@media only screen and (max-width: 1024px) {
  .crew-container {
    margin-bottom: 10rem;
  }
  .crew-details__details {
    font-size: var(--text-fs);
    line-height: 2.6rem;
    margin-top: 2.7rem;
    max-width: 80%;
  }
  .crew-navigation {
    margin-top: 2rem;
  }
  .crew-container--right {
    height: 65rem;
  }
}

/* ******************************************************* */

@media only screen and (max-width: 768px) {
  .crew-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .crew-container--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 12.6rem;
    text-align: center;
  }
  .crew-heading {
    position: absolute;
    top: 5.3rem;
    left: 4.18rem;
    font-size: 2rem;
  }
  .crew-heading span {
    margin-right: 1.6rem;
  }
  .crew-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65rem;
    margin-bottom: 4rem;
  }
  .crew-details__sub-heading {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .crew-details__heading {
    font-size: 4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
  }
  .crew-details__details {
    max-width: 80%;
    text-align: center;
    margin-top: 1.6rem;
  }
  .crew-container--right img {
    height: auto;
    margin-bottom: -10rem;
  }
}

/* ******************************************************* */

@media only screen and (max-width: 520px) {
  .crew-container {
    margin-bottom: 0;
  }
  .crew-container--left {
    order: 2;
    margin-top: 3.2rem;
  }
  .crew-container--right {
    order: 1;
  }
  .crew-navigation {
    order: 1;
    margin-top: 0;
  }
  .crew-heading {
    font-size: 1.6rem;
    top: 2.4rem;
  }
  .crew-details {
    margin-bottom: 10.4rem;
  }
  .crew-details__sub-heading {
    font-size: 1.6rem;
    line-height: 1.834rem;
    margin-top: 3.2rem;
    order: 2;
  }
  .crew-details__heading {
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    order: 2;
  }
  .crew-details__details {
    font-size: 1.5rem;
    line-height: 2.5rem;
    order: 2;
    height: auto;
  }
  .crew-container--right {
    height: auto;
    width: 90%;
    border-bottom: 1px solid var(--white-darker);
  }
  .crew-container--right img {
    height: 22.3rem;
    margin: 7.5rem auto 0;
  }
}
