.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 27.5rem 16.5rem 13.5rem;
}
.info-container {
  display: flex;
  flex-direction: column;
  max-width: 44.5rem;
}
.hd-fs-xsm {
  font-size: var(--hd-fs-xsm);
  font-weight: 400;
  letter-spacing: 1.35;
}
.hd-fs-xbg {
  font-family: 'Bellefair';
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--hd-fs-xbg);
  margin: 2.4rem 0;
}
.text-fs {
  font-size: var(--text-fs);
  line-height: 3.2rem;
}
