@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root {
  /* colors */
  --main-bg-color: #0b0d17;
  --white: #fff;
  --white-darker: rgba(255, 255, 255, 0.25);
  --main-text-color: #d0d6f9;
  /* fonts */
  --heading-font: 'Bellefair';
  /* sizes */
  --hd-fs-xbg: 15rem;
  --hd-fs-bg: 10rem;
  --hd-fs-md: 5.6rem;
  --hd-fs-sm: 3.2rem;
  --hd-fs-xsm: 2.8rem;
  --sb-fs-bg: 2.8rem;
  --sb-fs-sm: 1.4rem;
  --text-fs: 1.8rem;
  --nav-fs: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
}

html {
  min-width: 100%;
  font-size: 60%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed';
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}
button {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 57%;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
