.techBtn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid var(--white-darker);
  color: var(--white);
  background-color: transparent;
}
.techBtn:not(:last-child) {
  margin-bottom: 3.2rem;
}
.tech-active {
  background-color: var(--white);
  color: #000;
}
@media only screen and (max-width: 768px) {
  .techBtn {
    width: 6rem;
    height: 6rem;
  }
  .techBtn:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
}
